# 3: Pandas

Ми працюємо з набором даних про продажі в різних магазинах мережі супермаркетів. Дані взяті з Kaggle, за [посиланням](https://www.kaggle.com/aungpyaeap/supermarket-sales) Ви можете знайти їх опис. 
В даному наборі даних ми будемо розуміти кожен рядок (унікальний Invoice ID) як одне **відвідування супермаркету**.


In this set, we work with sales data in various stores of the supermarket chain. The data is taken from Kaggle, at [link](https://www.kaggle.com/aungpyaeap/supermarket-sales) you can find its description.
In this data set, we will understand each row (unique Invoice ID) as one **supermarket visit**.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("supermarket_sales_2.csv")

1.За допомогою бібліотеки Pandas виводимо 4 і останні 4 записи у наборі даних.<br>
  Using the Pandas library, we display the 4 and last 4 records in the data set.

In [4]:
df.head(4)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

In [79]:
df.tail(4)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Hours,Day of week,Month of year
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.690,1022.490,2019-03-02,17:16,Ewallet,973.80,4.761905,48.690,4.4,17,Saturday,March
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.592,33.432,2019-02-09,13:22,Cash,31.84,4.761905,1.592,7.7,13,Saturday,February
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.291,69.111,2019-02-22,15:33,Cash,65.82,4.761905,3.291,4.1,15,Friday,February
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.919,649.299,2019-02-18,13:28,Cash,618.38,4.761905,30.919,6.6,13,Monday,February

2.Виводимо кількість рядків і кількість колонок в наборі даних.<br>
We display the number of rows and the number of columns in the data set.

In [10]:
df_shape = df.shape

In [13]:
print(f"Набір данних має {df_shape[0]} рядків та {df_shape[1]} колонок")
print(f"The data set contains {df_shape[0]} rows and {df_shape[1]} columns")

Набір данних має 1000 рядків та 17 колонок

3. Виводимо назви колонок у наборі даних разом з їхніми типами.<br>
We display the names of the columns in the data set together with their types.

In [15]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

4.Виводимо скільки є колонок та якого типу (текстового, int, float)<br>
We display how many columns there are and of what type (text, int, float)

In [43]:
df.dtypes.value_counts()

object     9
float64    7
int64      1
Name: count, dtype: int64

5. Виводимо скільки всього відвідувань (кількість інвойсів) зробили покупці з різним типом клієнта (`Customer type`)<br>
 We display how many total visits (number of invoices) were made by buyers with different types of clients (`Customer type')

In [46]:
df["Customer type"].value_counts()

Customer type
Member    501
Normal    499
Name: count, dtype: int64

6.Виводимо які є продуктові лінії (колонка 'Product line') в наборі даних <br>
We display what are the product lines ('Product line' column) in the data set.

In [7]:
np.array(set(df["Product line"]))

array({'Home and lifestyle', 'Health and beauty', 'Electronic accessories', 'Food and beverages', 'Sports and travel', 'Fashion accessories'},
      dtype=object)

7.Виводимо середню ціну товару в кожній продуктовій лінії.
Ціна товару міститься в колонці `'Unit price'`<br>
We derive the average price of the product in each product line.
The product price is contained in the ``Unit price'' column

In [9]:
df.groupby("Product line")["Unit price"].mean()

Product line
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unit price, dtype: float64

8.Виводимо з якого інвойсу (рядок в цих даних) магазин отримав найбільший прибуток (`gross income`)? З найбільшим прибутком магазину.<br>
We deduce from which invoice (line in this data) the store received the largest profit (`gross income')? With the largest profit of the store.

In [33]:
df["gross income"].idxmax()
df.loc[350]

Invoice ID                         860-79-0874
Branch                                       C
City                                 Naypyitaw
Customer type                           Member
Gender                                  Female
Product line               Fashion accessories
Unit price                                99.3
Quantity                                    10
Tax 5%                                   49.65
Total                                  1042.65
Date                                 2/15/2019
Time                                     14:53
Payment                            Credit card
cogs                                     993.0
gross margin percentage               4.761905
gross income                             49.65
Rating                                     6.6
Name: 350, dtype: object

9.Виводимо найприбутковіший філіал магазину ('Branch'). Який має сумарний прибуток та місто де він знайходиться? <br>
 We display the most profitable branch of the store ('Branch'). What is the total profit and the city where it is located

In [96]:
new = df.groupby(['Branch', 'City']).agg({'gross income':'sum'}).idxmax()
print(f"Філіал {new.values[0][0]} є найприбутковішим. Цей філіал знаходиться в місті {new.values[0][1]}.")
print(f"Branch {new.values[0][0]} is the most profitable. This branch is located in the city of {new.values[0][1]}.")

Філіал C є найприбутковішим. Цей філіал знаходиться в місті Naypyitaw.

10.Перевіряємо програмно, чи відрізняється маржа ('gross margin percentage') для різних відвідувань (інвойсів) в магазині.<br>
We check programmatically whether the margin ('gross margin percentage') differs for different visits (invoices) in the store.

In [15]:
unique_margin_count = df.groupby("Invoice ID")["gross margin percentage"].nunique()
if (unique_margin_count == 1).all:
    print("У всіх всіх відвідувань однакова маржа")
else:
    print("Маржа відрізняється для різних відвідувань")
    
if (unique_margin_count == 1).all:
    print("All visits have the same margin")
else:
    print("The margin is different for different visits")

У всіх всіх відвідувань однакова маржа

11.Виводимо філіал магазину ('Branch')з найбільшим відвідуванням (інвойсів) із покупкою електронних аксесуарів ('Electronic accessories')? Electronic accessories - це одна з продуктових ліній. <br>
 Are we taking out the branch of the store ('Branch') with the most visits (invoices) with the purchase of electronic accessories ('Electronic accessories')? Electronic accessories is one of the product lines.

In [10]:
count_invoice = df.pivot_table(index = "Branch", columns = "Product line", values = "Invoice ID", aggfunc = "count")
count_invoice

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

12.Виводимо кількість відвідувань (інвойсів) погодинно, та коли в магазині роблять найбільше відвідувань (тут ми розуміємо одне відвідування як один інвойс).<br>
We display the number of visits (invoices) hourly, and when the store has the most visits (here we understand one visit as one invoice)

In [37]:
time_split = df['Time'].str.split(':', expand=True)
df['Hours'] = time_split[0].astype(int)
print(df["Hours"].head())
print(df.groupby("Hours")["Invoice ID"].count())

0    13
1    10
2    13
3    20
4    10
Name: Hours, dtype: int32
Hours
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: Invoice ID, dtype: int64

Висновок: частіше маємо дохід зранку, в обідній час між роботою та після її.<br>
Conclusion: more often we have income in the morning, at lunch time between work and after it.

13. Виводимо найменш прибудтковий філіал магазинів.<br>
 We remove the least profitable store branch.

In [49]:
result= df.groupby(['Branch', 'City']).agg({'gross income':'sum'}).idxmin()
print(f"Філіал {result.values[0][0]} є найменш прибутковим . Цей філіал знаходиться в місті {result.values[0][1]}.")
print(f"The branch {result.values[0][0]} is the least profitable. This branch is located in the city {result.values[0][1]}.")

Філіал B є найменш прибутковим . Цей філіал знаходиться в місті Mandalay.

14. Бачимо найбільші продажі<br>
We see the biggest sales

In [50]:
salse_by_product = df.groupby("Product line")["Quantity"].sum().sort_values(ascending = False).head()
salse_by_product

Product line
Electronic accessories    971
Food and beverages        952
Sports and travel         920
Home and lifestyle        911
Fashion accessories       902
Name: Quantity, dtype: int64

15. Бачимо найбільшу прибутковість<br>
We see the highest profitability

In [52]:
profit_by_product = df.groupby("Product line")["gross income"].sum().sort_values(ascending = False).head()
profit_by_product

Product line
Food and beverages        2673.5640
Sports and travel         2624.8965
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Home and lifestyle        2564.8530
Name: gross income, dtype: float64

16. Бачимо рейтинг задоволеності продуктом<br>
We see the rating of satisfaction with the product

In [57]:
avg_rating_by_product = df.groupby("Product line")["Rating"].mean().sort_values(ascending = False).head()
avg_rating_by_product

Product line
Food and beverages        7.113218
Fashion accessories       7.029213
Health and beauty         7.003289
Electronic accessories    6.924706
Sports and travel         6.916265
Name: Rating, dtype: float64

17. Бачимо середню суму продажів по дням тижня<br>
We see the average amount of sales by day of the week

In [75]:
df["Date"] = pd.to_datetime(df["Date"])
df["Day of week"] = df["Date"].dt.day_name()
sales_by_day = df.groupby("Day of week")["Total"].mean().sort_values(ascending = False)
sales_by_day

Day of week
Saturday     342.200058
Sunday       334.269868
Thursday     328.617739
Tuesday      325.836997
Friday       316.016838
Wednesday    305.812133
Monday       303.192624
Name: Total, dtype: float64

18. Бачимо суму продажів місяця<br>
We see the amount of sales for the month

In [82]:
df["Month of year"] = df["Date"].dt.month_name()
sales_by_month = df.groupby("Month of year")["Total"].sum().sort_values(ascending = False)
sales_by_month

Month of year
January     116291.868
March       109455.507
February     97219.374
Name: Total, dtype: float64

19. Різниця поупок жінок та чоловіків<br>
Difference between women's and men's buttocks

In [97]:
purchase_comparison = df.groupby(['Product line', 'Gender']).size().unstack()
purchase_comparison

Gender                  Female  Male
Product line
Electronic accessories      84    86
Fashion accessories         96    82
Food and beverages          90    84
Health and beauty           64    88
Home and lifestyle          79    81
Sports and travel           88    78