В цьому наборі завдань попрацюємо з фукнціями, класами та list comprehensions.
Нагадую синтаксис list comprehension 
- з умовою if:
```
newlist = [expression for item in iterable if condition == True]
```

- з умовою if...else:
```
newlist = [expression if condition == True else second_expression for item in iterable ]
```

1.Задана функція `strange_func`. 
Запустіть цю функцію на обчислення всіх елементів зі списку `input_list`. Результат обчислень запишіть у `output_list` та виведіть `output_list` на екран.

Реалізуйте прохід всіх елементів списку `input_list` через цикл та через `list comprehension` - двома способами окремо.

In [1]:
def strange_func(number: int) -> str:
        if number < 0:
            return "слон"
        else:
            return "жираф"

In [2]:
input_list = [14, -48, 26, 33, 50, 36, 47, -3, 32, -6, -39, -1, 14, -35, 31, -28, 32, 4, 33, 11, -7, 43, -5, 17, -33, -37, 45, -27, -29, 14]

In [3]:
output_list = []
for number in input_list:
    result = strange_func(number)
    output_list.append(result)
print(output_list)

['жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'жираф', 'слон', 'слон', 'жираф']

Очікуваний результат: ```['жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'жираф', 'слон', 'слон', 'жираф']```

In [4]:
output_list = [result := strange_func(number) for number in input_list]
print(output_list)

['жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'жираф', 'жираф', 'жираф', 'слон', 'жираф', 'слон', 'жираф', 'слон', 'слон', 'жираф', 'слон', 'слон', 'жираф']

2.Напишіть функцію `custom_func`, яка приймає на вхід число, перевіряє, чи воно є цілочислельного типу, і якщо так, то перевіряє число на парність: 
- якщо парне - вертає це число в степені 3, 
- а якщо непарне - це число мінус 10.  

Якщо ж число на вході не цілочисельного типу, функція вертає 0.  

Запустіть цю функцію на обчислення всіх чисел зі списку `input_list`. Результат обчислень запишіть у `output_list` та виведіть `output_list` на екран. 

Реалізуйте прохід всіх чисел списку `input_list` через цикл та через `list comprehension` - двома способами окремо.

In [5]:
input_list1 = [36, 11.1, 91, 93, 26, 12.3213, 69, 50, 58, 22, 77, 18, 24, 55, 11, 76, 10.111, 39, 49, 94, 34, 40, 13, 111.111, 26, 44, 11, 34, 30, 39, 84, 37, 16, 1]

In [6]:
def custom_func(number: int):
    if isinstance(number,int):
        if number % 2 == 0:
            return number**3
        else:
            return number - 10
    else:
        return 0

output_list1 = []
for number in input_list1:
    result1 = custom_func(number)
    output_list1.append(result1)
print(output_list1)

[46656, 0, 81, 83, 17576, 0, 59, 125000, 195112, 10648, 67, 5832, 13824, 45, 1, 438976, 0, 29, 39, 830584, 39304, 64000, 3, 0, 17576, 85184, 1, 39304, 27000, 29, 592704, 27, 4096, -9]

In [7]:
output_list1 = [result := custom_func(number) for number in input_list1]
print(output_list1)

[46656, 0, 81, 83, 17576, 0, 59, 125000, 195112, 10648, 67, 5832, 13824, 45, 1, 438976, 0, 29, 39, 830584, 39304, 64000, 3, 0, 17576, 85184, 1, 39304, 27000, 29, 592704, 27, 4096, -9]

Очікуваний результат:
```[46656, 0, 81, 83, 17576, 0, 59, 125000, 195112, 10648, 67, 5832, 13824, 45, 1, 438976, 0, 29, 39, 830584, 39304, 64000, 3, 0, 17576, 85184, 1, 39304, 27000, 29, 592704, 27, 4096, -9]```

Аби програмно порівняти ваш результат за очікуваним - використайте код нижче:

In [8]:
output_list1 == [46656, 0, 81, 83, 17576, 0, 59, 125000, 195112, 10648, 67, 5832, 13824, 45, 1, 438976, 0, 29, 39, 830584, 39304, 64000, 3, 0, 17576, 85184, 1, 39304, 27000, 29, 592704, 27, 4096, -9]

True

3.Напишіть функцію, яка отримує список чисел і повертає інший список із квадратами чисел, які діляться на 2 із вихідного списку. Наприклад, якщо на вході список [1,2,3,4], то на виході буде список [4,8].

Запустіть функцію на вхідних списках `numbers_1`, `numbers_2`, `numbers_3` та виведіть результат роботи фукнції на екран.

In [9]:
numbers_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers_2 = [-18, 35, 50, 2, -39, 8, -39, -15, 14, -42]
numbers_3 = [-3.1, 1.11, 3.48, 4.48, 4.68, -1.59, -1.8, 1.76, 4.7, 2.0]

In [10]:
def square(numbers):
    really_square = []
    for number in numbers:
            if number % 2 == 0:
                really_square.append(number**2)
    return really_square

print(square(numbers_1))
print(square(numbers_2))
print(square(numbers_3))

[4, 16, 36, 64, 100]
[324, 2500, 4, 64, 196, 1764]
[4.0]

Очікуваний результат:

```
    [4, 16, 36, 64, 100]
    [324, 2500, 4, 64, 196, 1764]
    [4.0]
```

4. Наданий список фруктів. Запишіть у новий список лише ті фрукти, які містять у своїй назві літеру `a`. Виведіть фінальний список на екран.

Виконайте завдання із використанням циклу, та через `list comprehension` - двома способами окремо.  
Увага! В цьому завданні логіку перевірки чи містить рядок літеру можна винести у функцію. Але якщо не виносити, то реалізація з `list comprehension` буде цікавішою :)

In [11]:
fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew", "indian prune", "jackfruit", "kiwi", "lemon", "mango", "nectarine", "orange", "pineapple", "quince", "raspberry", "strawberry", "tangerine", "ugli fruit", "victoria plum", "watermelon", "xigua", "yellow passionfruit", "zucchini"]

In [12]:
new_list = []
for new_list in fruits:
    if "a" in new_list:
        print(new_list)

apple
banana
date
grape
indian prune
jackfruit
mango
nectarine
orange
pineapple
raspberry
strawberry
tangerine
victoria plum
watermelon
xigua
yellow passionfruit

In [13]:
new_list1 = [fruit for fruit in fruits if "a" in fruit]
print(new_list1)

['apple', 'banana', 'date', 'grape', 'indian prune', 'jackfruit', 'mango', 'nectarine', 'orange', 'pineapple', 'raspberry', 'strawberry', 'tangerine', 'victoria plum', 'watermelon', 'xigua', 'yellow passionfruit']

5.Заданий список чисел. Створіть новий список на основі заданоо за наступною логікою
- якщо число більше або дорівнює 45, то в новий список додаємо це число + 5. Наприклад, для числа 50 вихідного списку, в новий ми додамо число 55
- інакше - це число - 4. Наприклад, для числа 30 вихідного списку, в новий ми додамо число 26  

Виведіть отриманий список на екран.

Реалізуйте логіку через цикл та через `list comprehension` - двома способами окремо.

In [14]:
input_list = [22, 13, 45, 50, 98, 69, 43, 44, 1]

In [16]:
remove_list = []
for elem in input_list:
    if elem >= 45:
        remove_list.append(elem + 5)
    else:
        remove_list.append(elem - 4)

print(remove_list)

[18, 9, 50, 55, 103, 74, 39, 40, -3]

In [ ]:

remove_list = [elem + 5 if elem >= 45 else elem - 4 for elem in input_list]
print(remove_list)

6.Заданий список `input_list` з пропущеними значеннями. Напишіть логіку, за якою ми будемо створювати новий список такий, що якщо значення None, то ми замість нього вставляємо 0, інакше - елемент вихідного спику.
Тобто зі списку [1, None, 2] за цією логікою ми отримаємо [1, 0, 2] у новому списку.

Виведіть отриманий список на екран.

Реалізуйте логіку через цикл та через list comprehension - двома способами окремо.

In [17]:
input_list = [22, None, 13, None, None, 45, 50, 98, None, 69, 43, 44, 1, None]

In [21]:
numbers = []
for number in input_list:
    if number is None:
        numbers.append(0)
    else:
        numbers.append(number)
print(numbers)

[22, 0, 13, 0, 0, 45, 50, 98, 0, 69, 43, 44, 1, 0]

In [23]:
numbers1 = [0 if number is None else number for number in input_list]
print(numbers1)

[22, 0, 13, 0, 0, 45, 50, 98, 0, 69, 43, 44, 1, 0]

7.Заданий клас, який описує коло та вміє рахувати площу кола по заданому радіусу. Створіть два кола з радіусами 5 і 11. Обчислість з допомогою функціоналу класу площі цих двох кіл і виведіть результати на екран.

In [24]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return round(math.pi * self.radius ** 2, 2)

In [33]:
circle = Circle(5)
circle1 = Circle(11)
area = circle.calculate_area()
area1 = circle1.calculate_area()
print(f"Резуьтат радіуса 5 = {area} а результат 11 = {area1}")

Резуьтат радіуса 5 = 78.54 а результат 11 = 380.13

8.Додайте в клас `Circle`, визначений в попередньому завданні, метод для обчислення периметра `calculate_perimeter` з округленням до двох цифр після коми. Периметр кола рахується за формулою `C = 2 · π · r`, де π - це значення числа Пі, яке ми можемо отримати з math.pi, а r - радіус кола. Спопіюйте визначення класу і додайте в нього новий метод. Після цього створіть нові кола з радіусами 5 і 11 та обчисліть їх периметри.   
Увага: нам треба додати новий метод, але ми нічого не видаляємо :)

In [38]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return round(math.pi * self.radius ** 2, 2)
    
    def calculate_perimeter(self):
        return round(2 * math.pi * self.radius)

In [40]:
circle = Circle(5)
circle1 = Circle(11)
area = circle.calculate_area()
area1 = circle1.calculate_area()
perimeter = circle.calculate_perimeter()
perimeter1 = circle.calculate_perimeter()
print(f"Резуьтат радіуса 5 = {area} та його периметер {perimeter} а результат радіуса 11 = {area1} та його периметер {perimeter1}")

Резуьтат радіуса 5 = 78.54 та його периметер 31.42 а результат радіуса 11 = 380.13 та його периметер 31.42

9.Створіть клас під назвою `Student`, який має два атрибути: `name` (ім'я) та `grade` (оцінка). Оцінкою може були літера - з набору  ["F", "D", "C", "B", "A"], де "А" - найвища оцінка, "F" - найнижча.  Клас повинен мати наступні функціональні можливості:

1. Метод `__init__`, який ініціалізує `name` та `grade`.
2. Метод `display_student()`, який відображає ім'я та оцінку студента з допомогою `print`. Форматування - на Ваш розсуд.
3. Метод `upgrade_grade()`, який підвищує оцінку на 1 рівень (наприклад, з "B" на "A"), якщо вона вже не "A". Якщо вже "А", то необхідно вивести повідомлення про те, що оцінка не може бути підвищена, оскільки вона вже і так найвища.

Після створення класу, створіть 2 екземпляри `Student` з вигаданими імʼями та оцінками, і перевірте роботу методів `display_student()` та `upgrade_grade()`. Виведіть результат перевірки на екран.

In [32]:
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
    
    def display_student(self):
        return print(f"Студент {self.name} отримав {self.grade}")
    
    def upgrade_grade(self):
        valid_grades = ["F", "D", "C", "B", "A"]
        if self.grade in valid_grades:
            index = valid_grades.index(self.grade)
            if self.grade != "A":
                self.grade = valid_grades[index + 1]
                print(f"{self.name} підвищили на {self.grade}")
            else:
                raise Exception ("Оцінка не може бути підвищена, оскільки вона вже і так найвища")

In [33]:
example1 = Student("Anna", "D")
example2 = Student("Bob", "A")

example1.display_student()
example2.display_student()

print(example1.upgrade_grade())
print(example2.upgrade_grade())

Студент Anna отримав D
Студент Bob отримав A
Anna підвищили на C
None

Exception: Оцінка не може бути підвищена, оскільки вона вже і так найвища

10.Створіть клас з назвою `GraduateStudent`, який є нащадком класу `Student` з попереднього завдання.
Клас `GraduateStudent` повинен мати додатковий атрибут `thesis_title` (назва дисертації - тип str). Тобто цей атрибут має зʼявитись при ініціації екземпляру класу.  
Він також повинен мати метод `display_thesis()`, який виводить назву дисертації.

Після створення класу, створіть екземпляр `GraduateStudent` і перевірте роботу методів `display_student()`, `upgrade_grade()`, та `display_thesis()`. Виведіть результат перевірки на екран.

In [36]:
class GraduateStudent(Student):
    def __init__(self, name, grade, thesis_title):
        super().__init__(name, grade)
        self.thesis_title = thesis_title
        
    def display_thesis(self):
        return (f"Назва роботи {self.thesis_title}")

In [37]:
example1 = GraduateStudent("Anna", "D", "my_first_thesis")
example2 = GraduateStudent("Bob", "A", "my_second_thesis")

example1.display_student()
example2.display_student()

print(example1.display_thesis())
print(example2.display_thesis())

example1.upgrade_grade()
example2.upgrade_grade()

Студент Anna отримав D
Студент Bob отримав A
Назва роботи my_first_thesis
Назва роботи my_second_thesis
Anna підвищили на C

Exception: Оцінка не може бути підвищена, оскільки вона вже і так найвища